@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: "Welcome";
  src: url("../fonts/Welcomeweb-Medium.ttf");
}

.welcomeW{
  font-family: "Welcome", sans-serif;
}

@font-face {
  font-family: "Fabio";
  src: url("../fonts/Fabioxmregular.ttf");
}

.fabio {
  font-family: "Fabio", sans-serif;
}

@font-face {
  font-family: "RothekRegular";
  src: url("../fonts/RothekRegular.ttf");
}

.rothek {
  font-family: "RothekRegular", sans-serif;
  font-feature-settings: "ss09" on, "ss11" on, "ss08" on, "ss05" on, "ss07" on,
    "ss02" on, "ss06" on, "ss10" on, "salt" on;
}

html{
  background-color: #EEC64B;
}

h1{
  background-color: transparent;
}